{{! banner }}
<div class="container-fluid m-0 p-0 banner-cont">
  <div class="bg-image">
    <div class="container brand-cont">
      <h1>Brand Name</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
      <p>Quisquam a officiis mollitia in quod exercitationem.</p>
      <hr class="separator" />
      <a href="/products" class="btn btn-primary btn-banner">Shop Now</a>
    </div>
  </div>
</div>
{{! Hero }}
<div class="container-fluid hero-cont">
  <aside class="as-left">
  </aside>
  <aside class="as-right">
  </aside>
</div>

{{! prueba }}
<div class="container-fluid hero-cont">
  <aside class="as-left-b">
    <div class="container as-b-cont">
      <h2>Nike Air Force One</h2>
      <a href="/products" class="btn btn-primary btn-as-b">Shop Men</a>
    </div>
  </aside>
  <aside class="as-right-b">
    <div class="container as-b-cont">
      <h2>Nike Air Force One</h2>
      <a href="/products" class="btn btn-primary btn-as-b">Shop Women</a>
    </div>
  </aside>
</div>