{{! Filters Nav }}
<nav class="navbar bg-light container-fluid secondary-nav">
  <h5 class="navbar-item subtitle" href="#">{{subtitle}}</h5>
  <a
    href=""
    class="navbar-item filter"
    style="text-decoration: none; color: white;"
  >
    Show filters
  </a>
</nav>
{{! Filters end }}

{{! Filters aside }}
{{! End }}

{{! Porducts Display }}
<div class="thumbnail-container container-fluid">
  <div class="float-child">
    <img src="product_thumbnail.webp" alt="" />
    <div class="text-container">
      <h5>Product Name</h5>
      <p>Product details</p>
      <a href="" class="btn btn-success">Add to Cart</a>
    </div>
  </div>

  <div class="float-child">
    <img src="product_thumbnail.webp" alt="" />
    <div class="text-container">
      <h5>Product Name</h5>
      <p>Product details</p>
      <a href="" class="btn btn-success">Add to Cart</a>
    </div>
  </div>

  <div class="float-child">
    <img src="product_thumbnail.webp" alt="" />
    <div class="text-container">
      <h5>Product Name</h5>
      <p>Product details</p>
      <a href="" class="btn btn-success">Add to Cart</a>
    </div>
  </div>

  <div class="float-child">
    <img src="product_thumbnail.webp" alt="" />
    <div class="text-container">
      <h5>Product Name</h5>
      <p>Product details</p>
      <a href="" class="btn btn-success">Add to Cart</a>
    </div>
  </div>

  <div class="float-child">
    <img src="product_thumbnail.webp" alt="" />
    <div class="text-container">
      <h5>Product Name</h5>
      <p>Product details</p>
      <a href="" class="btn btn-success">Add to Cart</a>
    </div>
  </div>

  <div class="float-child">
    <img src="product_thumbnail.webp" alt="" />
    <div class="text-container">
      <h5>Product Name</h5>
      <p>Product details</p>
      <a href="" class="btn btn-success">Add to Cart</a>
    </div>
  </div>

  <div class="float-child">
    <img src="product_thumbnail.webp" alt="" />
    <div class="text-container">
      <h5>Product Name</h5>
      <p>Product details</p>
      <a href="" class="btn btn-success">Add to Cart</a>
    </div>
  </div>

  <div class="float-child">
    <img src="product_thumbnail.webp" alt="" />
    <div class="text-container">
      <h5>Product Name</h5>
      <p>Product details</p>
      <a href="" class="btn btn-success">Add to Cart</a>
    </div>
  </div>

  <div class="float-child">
    <img src="product_thumbnail.webp" alt="" />
    <div class="text-container">
      <h5>Product Name</h5>
      <p>Product details</p>
      <a href="" class="btn btn-success">Add to Cart</a>
    </div>
  </div>

  <div class="float-child">
    <img src="product_thumbnail.webp" alt="" />
    <div class="text-container">
      <h5>Product Name</h5>
      <p>Product details</p>
      <a href="" class="btn btn-success">Add to Cart</a>
    </div>
  </div>

  <div class="float-child">
    <img src="product_thumbnail.webp" alt="" />
    <div class="text-container">
      <h5>Product Name</h5>
      <p>Product details</p>
      <a href="" class="btn btn-success">Add to Cart</a>
    </div>
  </div>

  <div class="float-child">
    <img src="product_thumbnail.webp" alt="" />
    <div class="text-container">
      <h5>Product Name</h5>
      <p>Product details</p>
      <a href="" class="btn btn-success">Add to Cart</a>
    </div>
  </div>
</div>
{{! display end }}